[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
sqlalchemy-serializer = "*"
jsonify = "*"
flask-restful = "*"
ipdb = "*"
faker = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-bcrypt = "*"
python-dotenv = "*"
flask-jwt-extended = "*"
flask-smorest = "*"

[requires]
python_full_version = "3.8.13"
